.container {
  margin: 0 auto;
  width: 1140px;
}

/* clear-fix to clear float */
.clear-fix::before,
.clear-fix::after {
  display: table;
  content: "";
}
.clear-fix::after {
  clear: both;
}
.clear-fix {
  clear: both;
  *zoom: 1;
}

/* pull-left */
.pull-left {
  float: left;
}
/* pull-right */
.pull-right {
  float: right;
}

/* img-responsive */
.img-responsive {
  max-width: 100%;
  height: auto;
}
