/* .center-container:hover {
  border: 1px dashed red;
}
.center-container:hover .logo {
  border: 1px dashed blue;
}
.center-container:hover .nav-item {
  border: 1px dashed green;
}
.center-container:hover .nav-btn {
  border: 1px dashed darkblue;
} */
