.btn {
  min-height: 34px;
  border: 1px solid #eee;
  padding: 6px 12px;
  border-radius: 3px;
  color: #999;
}

.btn-primary {
  color: #c27baa;
  background-color: #ffffff;
  border-color: #c27baa;
}
