.nav {
  display: inline-block;
  vertical-align: middle;
}

/* 下三角按钮 */
.down {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item a {
  text-decoration: none;
}

.drop-down-parent {
  position: relative;
}
.drop-down {
  position: absolute;
  border: 1px solid red;
  width: 100%;
  top: 100%;
  left: 0;
  height: 300px;
  list-style-type: none;
}
